body {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Btn {
  background-color: aquamarine;
  color: white;
  font-weight: bold;
}
